<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.travel.dao.PlanmembersMapper" >
  <resultMap id="BaseResultMap" type="com.travel.pojo.Planmembers" >
    <id column="Id" property="id" jdbcType="INTEGER" />
    <result column="PlanId" property="planid" jdbcType="INTEGER" />
    <result column="UserId" property="userid" jdbcType="INTEGER" />
    <result column="UserName" property="username" jdbcType="VARCHAR" />
    <result column="UserType" property="usertype" jdbcType="INTEGER" />
    <result column="JoinTime" property="jointime" jdbcType="TIMESTAMP" />
    <result column="IsOnTravel" property="isontravel" jdbcType="INTEGER" />
    <result column="IsCreater" property="iscreater" jdbcType="TINYINT" />
    <result column="Flag" property="flag" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    Id, PlanId, UserId, UserName, UserType, JoinTime, IsOnTravel, IsCreater, Flag
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from planmembers
    where Id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from planmembers
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.travel.pojo.Planmembers" useGeneratedKeys="true" keyProperty="id" >
    insert into planmembers (PlanId, UserId, UserName, 
      UserType, JoinTime, IsOnTravel, 
      IsCreater, Flag)
    values (#{planid,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, 
      #{usertype,jdbcType=INTEGER}, #{jointime,jdbcType=TIMESTAMP}, #{isontravel,jdbcType=INTEGER}, 
      #{iscreater,jdbcType=TINYINT}, #{flag,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.travel.pojo.Planmembers" useGeneratedKeys="true" keyProperty="id" >
    insert into planmembers
    <trim prefix="(" suffix=")" suffixOverrides="," >
      PlanId,
      UserId,
      UserName,
      UserType,
      JoinTime,
      IsOnTravel,
      IsCreater,
      Flag,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{planid,jdbcType=INTEGER},
      #{userid,jdbcType=INTEGER},
      #{username,jdbcType=VARCHAR},
      #{usertype,jdbcType=INTEGER},
      #{jointime,jdbcType=TIMESTAMP},
      #{isontravel,jdbcType=INTEGER},
      #{iscreater,jdbcType=TINYINT},
      #{flag,jdbcType=VARCHAR},
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.travel.pojo.Planmembers" >
    update planmembers
    <set >
      <if test="planid != null" >
        PlanId = #{planid,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        UserId = #{userid,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        UserName = #{username,jdbcType=VARCHAR},
      </if>
      <if test="usertype != null" >
        UserType = #{usertype,jdbcType=INTEGER},
      </if>
      <if test="jointime != null" >
        JoinTime = #{jointime,jdbcType=TIMESTAMP},
      </if>
      <if test="isontravel != null" >
        IsOnTravel = #{isontravel,jdbcType=INTEGER},
      </if>
      <if test="iscreater != null" >
        IsCreater = #{iscreater,jdbcType=TINYINT},
      </if>
      <if test="flag != null" >
        Flag = #{flag,jdbcType=VARCHAR},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.travel.pojo.Planmembers" >
    update planmembers
    set PlanId = #{planid,jdbcType=INTEGER},
      UserId = #{userid,jdbcType=INTEGER},
      UserName = #{username,jdbcType=VARCHAR},
      UserType = #{usertype,jdbcType=INTEGER},
      JoinTime = #{jointime,jdbcType=TIMESTAMP},
      IsOnTravel = #{isontravel,jdbcType=INTEGER},
      IsCreater = #{iscreater,jdbcType=TINYINT},
      Flag = #{flag,jdbcType=VARCHAR}
    where Id = #{id,jdbcType=INTEGER}
  </update>
  
  <!--自定义  -->
    <select id="selectIdByUidAndPid" parameterType="String" resultType="INTEGER">
		SELECT Id 
		FROM planmembers
			WHERE UserId = #{uid} AND PlanId = #{pid} 
	</select>
	
	<select id="selectIdByUid" parameterType="String" resultType="INTEGER">
		SELECT PlanId 
		FROM planmembers
			WHERE UserId = #{uid} 
			AND  IsCreater = 0
	</select>
	<select id="selectUserIdByPid" parameterType="String" resultMap="BaseResultMap">
		SELECT * 
		FROM planmembers
			WHERE PlanId = #{pid} 
	</select>
	 <select id="selectCountByPid" parameterType="String" resultType="INTEGER">
		SELECT COUNT(*)
		FROM planmembers
			WHERE PlanId = #{pid}
	</select>
	
	 <delete id="deleteByPid" parameterType="java.lang.Integer" >
    	delete from planmembers
    	where PlanId = #{pid,jdbcType=INTEGER}
  	</delete>
  	
  <update id="updateByPidUidSelective" parameterType="com.travel.pojo.Planmembers" >
    update planmembers
    <set >
      <if test="username != null" >
        UserName = #{username,jdbcType=VARCHAR},
      </if>
      <if test="usertype != null" >
        UserType = #{usertype,jdbcType=INTEGER},
      </if>
      <if test="jointime != null" >
        JoinTime = #{jointime,jdbcType=TIMESTAMP},
      </if>
      <if test="isontravel != null" >
        IsOnTravel = #{isontravel,jdbcType=INTEGER},
      </if>
      <if test="iscreater != null" >
        IsCreater = #{iscreater,jdbcType=TINYINT},
      </if>
      <if test="flag != null" >
        Flag = #{flag,jdbcType=VARCHAR},
      </if>
    </set>
    	where PlanId = #{planid,jdbcType=INTEGER} 
    	AND  UserId = #{userid,jdbcType=INTEGER}
  </update>
  
  <update id="updateIsOnTravelByPid" >
    update planmembers
    <set >
       IsOnTravel = #{isontravel,jdbcType=INTEGER}
    </set>
    	where PlanId = #{planid,jdbcType=INTEGER} 
    	AND (UserType = 1 OR UserType = 3)
  </update>
   <delete id="deleteUnOnTravel"  >
     delete from planmembers
     where PlanId != #{planid,jdbcType=INTEGER} 
     AND UserType = 0
	 AND  UserId IN(
		SELECT UserId FROM planmembers 
		WHERE PlanId =#{planid,jdbcType=INTEGER}
		AND (UserType = 1 OR UserType = 3)
	 )
  </delete>
  
  	<select id="selectUidByPid" parameterType="String" resultType="INTEGER">
		SELECT  UserId FROM planmembers 
    	WHERE PlanId =#{planid,jdbcType=INTEGER}
		AND (UserType = 1 OR UserType = 3)
  
	</select>
</mapper>